body {
    margin: 0px;
}

a:link {
}

a:visited {
}

a:hover {
    background-color: rgb(112, 112, 112);
}

a:active {
    background-color: rgb(112, 112, 112);
}

#info {
    position: absolute;
    right: 22px;
    bottom: 67px;
    width: 13px;
    height: 13px;
}

#back {
    display: none;
}

#done {
    position: absolute;
    margin-left: auto;
    margin-top: auto;
    width: 54px;
    left: auto;
    right: 24px;
    top: auto;
    bottom: 27px;
}

#background {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 292px;
    top: 0px;
    left: 0px;
    font-style: italic;
    font-family: Times;
    font-size: 12pt;
    height: 235px;
}

#inner_image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#top {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 0px;
    top: 0px;
    width: 292px;
    height: 40px;
}

#top_image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#middle-div {
    position: absolute;
    right: 0px;
    bottom: auto;
    margin-top: 0px;
    width: 292px;
    left: 0px;
    top: 40px;
    height: 124px;
    overflow: hidden;
}

#middle {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 292px;
    left: 0px;
    top: 0px;
    height: 124px;
    overflow: hidden;
}

#middle_image {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 100%;
    width: 292px;
    height: 124px;
}

#bottom {
    width: 292px;
    position: absolute;
    left: 0px;
    top: 164px;
    right: auto;
    margin-top: 0px;
    height: 26px;
}

#bottom_image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#city_label {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    color: rgb(255, 255, 255);
    left: 29px;
    font-size: 11px;
    width: 148px;
    height: 13px;
    top: 26px;
}

.selected #city_label {
    color: white;
}

#api_label {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    color: rgb(255, 255, 255);
    font-size: 11px;
    left: 28px;
    width: 148px;
    height: 15px;
    top: 112px;
}

.selected #api_label {
    color: white;
}

#city_field {
    position: absolute;
    color: black;
    font-family: HelveticaNeue;
    font-size: 10pt;
    left: 29px;
    width: 229px;
    top: 39px;
}

#api_field {
    position: absolute;
    color: black;
    font-family: HelveticaNeue;
    font-size: 10pt;
    left: 28px;
    top: 125px;
    width: 230px;
}

#popup {
    height: 18px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 45px;
    left: 218px;
    top: 85px;
}

#degrees_label {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    color: rgb(255, 255, 255);
    font-size: 11px;
    left: 218px;
    top: 67px;
    right: 22px;
    width: auto;
    bottom: 155px;
    height: auto;
}

.selected #degrees_label {
    color: white;
}

#openweather_logo {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    height: 24px;
    width: 58px;
    left: 79px;
    top: 157px;
}

#inner_image4 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#copyright_label {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    color: rgb(255, 255, 255);
    font-size: 9px;
    top: 196px;
    left: 28px;
    right: 84px;
    width: auto;
    bottom: 28px;
    height: auto;
}

.selected #copyright_label {
    color: white;
}

#poweredby_label {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    color: rgb(255, 255, 255);
    font-size: 9px;
    width: 51px;
    height: 12px;
    left: 28px;
    top: 170px;
}

.selected #poweredby_label {
    color: white;
}

#a {
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    margin-top: -219px;
    width: auto;
    margin-right: 58px;
    margin-left: 0px;
    min-height: 0px;
    height: auto;
}

#location {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Helvetica Neue';
    left: 30px;
    text-shadow: none;
    top: 34px;
    right: 107px;
    width: auto;
    bottom: 140px;
    height: auto;
}

.selected #location {
    color: white;
}

#temp {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-align: right;
    left: 186px;
    top: 23px;
    right: 40px;
    width: 80px;
    bottom: 128px;
    height: auto;
    text-shadow: none;
}

.selected #temp {
    color: white;
}

#icon {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 67px;
    height: 67px;
    top: 9px;
    left: 114px;
}

#iconimg {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#copyright_label1 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    color: rgb(255, 255, 255);
    font-size: 9px;
    left: 28px;
    top: 183px;
    right: 84px;
    width: auto;
    bottom: 41px;
    height: auto;
}

.selected #copyright_label1 {
    color: white;
}

#day1 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    height: auto;
    left: 24px;
    top: 33px;
    text-shadow: none;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 13px;
    width: 36px;
}

.selected #day1 {
    color: white;
}

#day2 {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Helvetica Neue';
    text-align: center;
    width: 36px;
    height: auto;
    left: 76px;
    top: 33px;
    text-shadow: none;
}

.selected #day2 {
    color: white;
}

#day3 {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Helvetica Neue';
    text-align: center;
    width: 36px;
    height: auto;
    left: 128px;
    top: 33px;
    text-shadow: none;
}

.selected #day3 {
    color: white;
}

#day4 {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Helvetica Neue';
    text-align: center;
    width: 36px;
    height: auto;
    left: 180px;
    top: 33px;
    text-shadow: none;
}

.selected #day4 {
    color: white;
}

#day5 {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Helvetica Neue';
    text-align: center;
    width: 36px;
    height: auto;
    left: 232px;
    top: 33px;
    text-shadow: none;
}

.selected #day5 {
    color: white;
}

#weather1 {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 36px;
    height: 36px;
    left: 24px;
    top: 57px;
}

#weather1img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#weather2 {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 36px;
    height: 36px;
    left: 76px;
    top: 57px;
}

#weather2img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#weather3 {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 36px;
    height: 36px;
    left: 127px;
    top: 57px;
}

#weather3img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#weather4 {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 36px;
    height: 36px;
    left: 179px;
    top: 57px;
}

#weather4img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#weather5 {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 36px;
    height: 36px;
    left: 232px;
    top: 57px;
}

#weather5img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#hi1 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 96px;
    left: 24px;
    right: 232px;
    width: auto;
    bottom: 15px;
    height: auto;
}

.selected #hi1 {
    color: white;
}

#lo1 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    opacity: 0.65;
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 108px;
    left: 25px;
    right: 233px;
    width: auto;
    bottom: 5px;
    height: auto;
}

.selected #lo1 {
    color: white;
}

#hi2 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 96px;
    left: 76px;
    right: 180px;
    width: auto;
    bottom: 15px;
    height: auto;
}

.selected #hi2 {
    color: white;
}

#lo2 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    opacity: 0.65;
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 108px;
    left: 77px;
    right: 181px;
    width: auto;
    bottom: 5px;
    height: auto;
}

.selected #lo2 {
    color: white;
}

#hi3 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 96px;
    left: 127px;
    right: 129px;
    width: auto;
    bottom: 15px;
    height: auto;
}

.selected #hi3 {
    color: white;
}

#lo3 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    opacity: 0.65;
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 108px;
    left: 128px;
    right: 130px;
    width: auto;
    bottom: 5px;
    height: auto;
}

.selected #lo3 {
    color: white;
}

#hi4 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 96px;
    left: 179px;
    right: 77px;
    width: auto;
    bottom: 15px;
    height: auto;
}

.selected #hi4 {
    color: white;
}

#lo4 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    opacity: 0.65;
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 108px;
    left: 180px;
    right: 78px;
    width: auto;
    bottom: 5px;
    height: auto;
}

.selected #lo4 {
    color: white;
}

#hi5 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 96px;
    left: 232px;
    right: 24px;
    width: auto;
    bottom: 15px;
    height: auto;
}

.selected #hi5 {
    color: white;
}

#lo5 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    opacity: 0.65;
    font-family: 'Helvetica Neue';
    text-align: center;
    top: 108px;
    left: 233px;
    right: 25px;
    width: auto;
    bottom: 5px;
    height: auto;
}

.selected #lo5 {
    color: white;
}

#shadow-front {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    margin-top: 0px;
    right: 0px;
    bottom: 188px;
    top: 17px;
    left: 17px;
    width: 256px;
    height: 154px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 3px 8px 0px;
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: rgba(0, 0, 0, 0.496094) 0px 3px 8px 0px;
}

#shadow-back {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    margin-top: 0px;
    right: 0px;
    bottom: 233px;
    left: 17px;
    top: 17px;
    width: 258px;
    height: 201px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 3px 8px 0px;
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: rgba(0, 0, 0, 0.496094) 0px 3px 8px 0px;
}

#custom_field {
    position: absolute;
    color: black;
    font-family: HelveticaNeue;
    font-size: 10pt;
    left: 28px;
    top: 82px;
    width: 176px;
}

#custom_label {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    color: rgb(255, 255, 255);
    font-size: 11px;
    left: 28px;
    height: 13px;
    width: 163px;
    top: 69px;
}

.selected #custom_label {
    color: white;
}
